<li>
	{{burger_name}}
      <p>
        {{this.id}}. {{this.burger_name}} {{this.devoured}}
      </p>
    	<button class="change-eaten" data-id="{{this.id}}" data-eaten="{{this.devoured}}">
		{{#unless devoured}}EAT Burger!{{else}}All GONE!{{/unless}}
	</button>
</li>